@model IEnumerable<Image>

@{
    ViewData["Title"] = "Images";
}


<h1> @ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@($"data:{item.Extension};base64"),
                                @Convert.ToBase64String(item.Data)" alt="User Image" width="150" height="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
            </tr>
        }
    </tbody>
</table>
