@model AutorisedUser

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>@ViewData["Title"]</h4>
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            <strong>Error:</strong> @TempData["Error"]
        </div>
    }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Surname)
        </dd>

        <h4>User Roles</h4>
        <ul>
            @foreach (var role in Model.Roles)
            {
                <li>@UserRoleExtensions.GetEnumDescription(role)</li>
            }
        </ul>
    </dl>
</div>
<div>
    <div class="button-row">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>

        <form asp-action="Delete" asp-route-id="@Model.Id">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
    <div style="margin-top: 10px;">
        <a asp-action="Index" class="btn btn-secondary btn-sm">Back</a>
    </div>
</div>
