@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1> @ViewData["Title"]</h1>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success:</strong> @TempData["Success"]
    </div>
}
@if (User.Identity.IsAuthenticated)
{
    <div style="display:flex; gap:10px;">
        <a asp-action="Save" class="btn btn-success">Create</a>
        <a asp-action="Stats" class="btn btn-success">Stats</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubCardPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualPrice) Kč
                </td>
                <td>
                    @if (item.ClubCardPrice != null)
                    {
                        @Html.DisplayFor(modelItem => item.ClubCardPrice); <a>Kč</a>
                    } else 
                    {
                        <a>----</a>
                    } 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight) kg
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Save" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Edit</a> 
                        <a>|</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>



