@model IEnumerable<Models.Models.Product.ProductStats>

@{
    ViewData["Title"] = "Stats";
}

<h1>Stats</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandCount)
            </td>
        </tr>
}
        <div>
            <a asp-action="Index" class="btn btn-secondary btn-sm">Back</a>
        </div>
    </tbody>
</table>
