@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1> @ViewData["Title"]</h1>
<div style="display:flex; gap:10px;">
    <a asp-action="Save" class="btn btn-success">Create</a>
    <a asp-action="Stats" class="btn btn-success">Stats</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Save" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
