@model IEnumerable<Models.Models.Categor.Stats>

@{
    ViewData["Title"] = "Stats";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSales)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSales)
            </td>
            
        </tr>
}
        <div>
            <a asp-action="Index" class="btn btn-secondary btn-sm">Back</a>
        </div>
    </tbody>
</table>
