@model BDAS2_BCSH2_University_Project.Models.Logs

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Logs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Table)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Table)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>
