@model Shop

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Square)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Square)
        </dd>

       

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back</a>
</div>

@{
    ViewData["Title"] = "Details";
}
